// root
:root {
	--index: calc(1vw + 1vh);

	--font-primary: 'ClearSans',
		sans-serif;
	/*color*/
	--blue: #6383C7;
	--bllue-dark: #3C4677;
	--navy-blue: #253F73;
	--sky-blue: #16C5DB;
	--sky-blue-85: rgba(22, 197, 219, .85);
	--light-gray: #EAEAEA;
	--gray: #D9D9D9;
	--gray-dark-47: rgba(226, 226, 226, 0.47);
	--gray-medium: #999999;
	--white: #ffffff;
	--white-80: rgba(255, 255, 255, .8);
	--white-86: rgba(255, 255, 255, .86);
	--black-0: rgba(0, 0, 0, 0);
	--light-gray: #F2F2F2;
	--black: #000000;
	--red-oragne-20: rgba(255, 82, 7, 0.2);
	--red-oragne: #FF5207;
	--cyan: #16C5DB;
	--cyan-20: rgba(22, 197, 219, 0.2);
	--azure: #1699DB;
	--azure-20: rgba(22, 153, 219, 0.2);
	--teal: #35CCA1;
	--teal-20: rgba(53, 204, 161, 0.2);
	/*gradient*/
	--blue-gradient: linear-gradient(99.53deg, #6383C7 23.8%, #3C4677 118.93%);
	--blue-gradient-2: linear-gradient(180deg, #6383C7 22.02%, #3C4677 95.75%);
	--blue-dark-gradient: linear-gradient(180deg, #3C4677 22.02%, #6383C7 72.71%);
	--blue-dark-gradient-15deg: linear-gradient(-15deg, #6383C7 22.02%, #3C4677 95.75%);
	--bluce-dark-gradien-72: linear-gradient(180deg, #6383C722.02%, #3C4677 72.71%);
	--line-gradient: linear-gradient(99.53deg, #6383C7 23.8%, #3C4677 118.93%);
	--line-gradient-white: linear-gradient(258.52deg, #FFFFFF -1.98%, #EAEAEA 52.95%);
	/*shadow*/
	--shadow-inset: inset 0px 4px 15px 6px rgba(0, 0, 0, 0.25);
	--shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.25);
	--shadow-2: -12px 4px 14px rgba(0, 0, 0, 0.25);
	--shadow-3: -17px 4px 14px rgba(0, 0, 0, 0.25);
	--shadow-4: 6px 6px 4px rgba(0, 0, 0, 0.25);
	--shadow-5: 4px 6px 4px rgba(0, 0, 0, 0.25);
	--shadow-6: 17px 4px 13px rgba(0, 0, 0, 0.25);
	--shadow-7: 9px 11px 14px rgba(0, 0, 0, 0.25);
	--shadwo-top: 0px -5px 14px rgba(0, 0, 0, 0.25);
	--shadow-cart: 6px 8px 8px rgba(0, 0, 0, 0.25);
	--shadow-back: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--shadow-cart-2: 4px 8px 8px rgba(0, 0, 0, 0.25);
	--hover-trans: .4s;
	--z-index-0: 0;
	--z-index-1: 1;
	--z-index-2: 2;
	--z-index-3: 3;

	/*--burger-width --*/
	--burger-width: #{rem(46)};
	--burger-height: #{rem(36)};
	--burger-line-height:#{rem(2)};
	--burger-line-width:#{rem(20)};
	--burger-color: #fff;

}


// transition
$hover-trans: 0.4s;
