// Сброс стилей браузера (reset)
@import "../scss/vendor/reset.scss";

// Функции и миксины
@import "../scss/utils/functions.scss";
@import "../scss/utils/mixin.scss";

// Настройка шрифтов и переменных
@import "../scss/vendor/fonts.scss";
@import "../scss/variables/variables.scss";

// общие классы
@import "../scss/utils/utilities.scss";
@import "../scss/vendor/swiper-bundle.min.scss";

// Компоненты интерфейса
@import "../components/components.scss";

// page
@import "../scss/pages/main.scss";
@import "../scss/pages/slogan.scss";
@import "../scss/pages/materials.scss";
@import "../scss/pages/news.scss";
@import "../scss/pages/become.scss";
@import "../scss/pages/partners.scss";
@import "../scss/pages/documents.scss";
@import "../scss/pages/maps.scss";
@import "../scss/pages/registration.scss";
@import "../scss/pages/organizers.scss";
@import "../scss/pages/boost.scss";

@import "../scss/pages/projects.scss";
@import "../scss/pages/nearest.scss";
@import "../scss/pages/website.scss";
@import "../scss/pages/flagship.scss";
