.header {
	&__link {
		&.-is-active {
			color: var(--navy-blue);
		}
	}

	&__social {
		margin-left: 0;
		margin-right: auto;
		padding-left: rem(23);
		padding-top: rem(3);
		padding-bottom: rem(5);
		border-left: rem(1) solid var(--sky-blue);
		gap: rem(15);

		@media(max-width:rem(1099.99)) {
			grid-row: 1/2;
			grid-column: 1/3;
			background: var(--light-gray);
			margin: rem(-13) rem(-10) rem(13) rem(-10);
			padding: rem(9) rem(10) rem(9) rem(10);
			justify-content: space-between;
		}

		&-title {
			font-style: normal;
			font-weight: 700;
			font-size: rem(11);
			line-height: rem(15);
			text-transform: uppercase;

			color: var(--sky-blue);

			@include mw760 {
				font-size: rem(10);
				line-height: rem(13);
			}

		}

		&-list {
			gap: rem(10);
		}

		&-btn {
			border-radius: 50%;
			border: rem(1) solid var(--sky-blue);
			background: var(--sky-blue);
			fill: var(--white);
			@include interactive-states(background, var(--black-0), var(--black-0), var(--black-0));
			@include interactive-states(fill, var(--sky-blue), var(--sky-blue), var(--sky-blue));
			@include imgBox(rem(30), rem(30));

			img,
			svg {
				@include square(rem(16));
			}
		}
	}
}

.header__moir {
	&-container {
		@media(max-width:rem(1099.99)) {
			display: grid;
			grid-template-columns: 1fr auto;
			gap: 0 rem(24);

		}
	}

	&-wrapp {
		gap: rem(30);

		@include mw992 {
			gap: rem(8);
		}

		&-list {
			gap: rem(30);

		}
	}
}
