<header class="header header__moir">
	<div class="header__moir-container header__container container flex ai-fs jc-sb">
		<a href="#" class="header__logo">
			<img src="assets/img/logo.svg" alt="Лого">
		</a>
		<div class="header__social flex ai-c jc-fs">
			<h3 class="header__social-title">
				Подписывайтесь на канал <br>
				«Главный врач – Онлайн»
			</h3>
			<ul class="header__social-list flex ai-c jc-fe">
				<li class="header__social-inner">
					<a href="#" class="header__social-btn">
						<svg width="17" height="14" viewBox="0 0 17 14">
							<use xlink:href="assets/img/sprite.svg#sc-tellegramm"></use>
						</svg>
					</a>
				</li>
				<li class="header__social-inner">
					<a href="#" class="header__social-btn">
						<svg width="20" height="11" viewBox="0 0 20 11">
							<use xlink:href="assets/img/sprite.svg#sc-vk"></use>
						</svg>
					</a>
				</li>
				<li class="header__social-inner">
					<a href="#" class="header__social-btn">
						<svg width="15" height="15" viewBox="0 0 15 15">
							<use xlink:href="assets/img/sprite.svg#sc-maks"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>

		<div class="header__moir-wrapp header__wrapp flex ai-c jc-fe">
			<button class="header__burger  ">
				<span class="header__burger-line">
				</span>
			</button>
			<ul data-adapt-block=".page ,992.98, first"
				class="header__moir-wrapp-list header__wrapp-list flex ai-c jc-fe">
				<li class="header__wrapp-inner">
					<a href="#" class="header__link link">
						О нас
					</a>
				</li>
				<li class="header__wrapp-inner">
					<a href="#" class="header__link link">
						мероприятия
					</a>
				</li>
				<li class="header__wrapp-inner">
					<a href="#" class="header__link link">
						Контакты
					</a>
				</li>
				<li class="header__wrapp-inner">
					<a href="#" class="header__link link -is-active">
						демография
					</a>
				</li>

			</ul>
			<a href="#" class="header__button btn">
				Личный кабинет
			</a>
		</div>
	</div>
</header>
