@import "./fonts.scss";
@import "./layout.scss";

html {
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-gutter: stable;

	&.-fixed-menu {
		@include mw992 {
			overflow: hidden;
		}

	}

}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);

	&::-webkit-scrollbar-thumb {
		@include scrollStyle(var(--blue));
	}

	&::-webkit-scrollbar {
		@include scrollStyle(var(--blue-05));
	}
}

picture {
	display: contents;
}

* {
	&::-webkit-scrollbar-thumb {
		@include scrollStyle(var(--blue));
	}

	&::-webkit-scrollbar {
		@include scrollStyle(var(--blue-05));
	}
}


@-moz-document url-prefix() {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--blue) var(--blue-05);

		&::-webkit-scrollbar-thumb {
			@include scrollStyle(var(--blue));
		}

		&::-webkit-scrollbar {
			@include scrollStyle(var(--blue-05));
		}

		&::-moz-scrollbar {
			width: rem(6);

			@include minw1920 {
				width: max(6rem, 6px);
			}
		}

		.scrollable-content::-moz-scrollbar-thumb {
			@include scrollStyle(var(--blue));
		}
	}
}

a {
	text-decoration: none;
	transition: $hover-trans;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	padding: 0;
	transition: $hover-trans;
}

/* убираем тени safari */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

time {
	display: block;
}

.page {
	display: flex;
	min-height: 100dvh;
	flex-direction: column;
	overflow: hidden;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: rem(1200);

	padding-left: rem(10);
	padding-right: rem(77);

	@include mw1240 {
		padding-right: rem(10);
	}
}

.section__header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&::after,
	&::before {
		content: "";
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		width: calc(50% - rem(85));
		height: rem(2);
		background: var(--blue);
	}

	&::before {
		left: auto;
		right: 0;
	}

	&-title {
		text-align: center;
		color: var(--navy-blue);
	}
}