.boost {
	padding-top: rem(55);
	padding-bottom: rem(84);

	@include mw992 {
		padding-top: rem(42);
		padding-bottom: rem(72);
	}

	&__header {

		&::after,
		&::before {
			width: calc(50% - rem(130));
		}
	}

	&__link {
		width: rem(170);
		gap: rem(14);

		@include mw992 {
			gap: rem(11);
		}

		&-img {
			width: rem(80);
		}

		&-text {
			font-size: rem(14);
			line-height: rem(19);
			text-align: center;
		}
	}

	&__wrapp {
		padding-top: rem(47);
	}
}