.flagship {
	background: var(--white);
	padding-top: rem(47);

	@include mw767 {
		padding-top: rem(50);
	}

	&__container {
		padding-left: rem(20);
		padding-right: rem(20);


		@include mw1240 {
			padding-left: rem(10);
			padding-right: rem(10);
		}
	}

	&__header {

		&::after,
		&::before {
			width: calc(50% - rem(360));
			top: rem(16);

			@include mw992 {
				width: calc(50% - rem(250));
			}

			@include mw610 {
				width: calc(50% - rem(117));
			}
		}
	}

	&__title {
		line-height: rem(30);

		@include mw992 {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: rem(480);
		}

		@include mw610 {
			max-width: rem(360);
		}
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: rem(15);
		line-height: rem(20);
		text-align: center;

		color: var(--black);
		padding-top: rem(14);
		padding-right: rem(32);

		@include mw1240 {
			padding-right: 0;
		}
	}

	&__wrapp {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(24);
		padding-top: rem(38);

		@include mw992 {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mw610 {
			display: flex;
			flex-direction: column;
		}

	}

	&__cart {
		width: 100%;
		min-height: rem(470);
		background: var(--white-86);
		border: rem(1) solid var(--gray);
		padding: rem(20);
		@include interactive-states(box-shadow, var(--shadow-cart), var(--shadow-cart), var(--shadow-cart));
		display: flex;
		flex-direction: column;
		gap: rem(5);

		&-img {
			width: 100%;
			aspect-ratio: 331/130;

			@include mw767 {
				aspect-ratio: 79/32;
			}

			img,
			svg {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-chapter {
			background: var(--red-oragne-20);
			color: var(--red-oragne);
			margin: rem(13) auto 0 rem(-20);
			min-height: rem(20);
			padding: rem(3) rem(20);
			border-radius: 0 rem(50) rem(50) 0;

			font-style: normal;
			font-weight: 400;
			font-size: rem(14);
			line-height: rem(16);

			&.--cyan {
				background: var(--cyan-20);
				color: var(--cyan);
			}

			&.--azure {
				background: var(--azure-20);
				color: var(--azure);
			}

			&.--teal {
				background: var(--teal-20);
				color: var(--teal);
			}
		}

		&-title {
			margin-top: rem(7);
			color: var(--navy-blue);
		}

		&-text {
			padding-top: rem(6);
			display: flex;
			flex-direction: column;
			gap: rem(17);

			font-style: normal;
			font-weight: 400;
			font-size: rem(15);
			line-height: rem(18);

			color: var(--black);

			p {
				font-style: inherit;
				font-weight: inherit;
				font-size: inherit;
				line-height: inherit;
				color: inherit;
			}
		}

		&-btn {
			margin: auto 0 0 auto;
			font-style: normal;
			font-weight: 700;
			font-size: rem(12);
			line-height: rem(16);
			text-decoration-line: underline;
			color: var(--sky-blue);
			@include interactive-states(color, var(--navy-blue), var(--navy-blue), var(--navy-blue));
		}
	}

	&__btn {
		margin: rem(45) auto 0 auto;
		width: rem(172);

		@include mw767 {
			margin-top: rem(35);
		}
	}
}
