.website {
	background: var(--line-gradient);
	box-shadow: var(--shadow-back);
	padding-top: rem(48);
	padding-bottom: rem(51);
	isolation: isolate;

	@media(max-width:rem(850.99)) {
		padding-top: rem(315);
		padding-bottom: rem(48);
	}

	&__title {

		font-style: normal;
		font-weight: 700;
		font-size: rem(32);
		line-height: rem(39);
		text-transform: uppercase;
		color: var(--white);

		@include mw992 {
			font-size: rem(26);
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: rem(18);
		width: 100%;
		max-width: rem(458);
		position: relative;
		padding-top: rem(23);
		margin-top: rem(33);

		@media(max-width:rem(850.99)) {
			margin-top: rem(21);
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: rem(1);
			width: rem(115);
			background: var(--white);
		}

		font-style: normal;
		font-weight: 400;
		font-size: rem(15);
		line-height: rem(20);
		color: var(--white);

		p {
			font-style: inherit;
			font-weight: inherit;
			font-size: inherit;
			line-height: inherit;
			color: inherit;
		}

		@media(max-width:rem(850.99)) {
			max-width: 100%;
		}
	}

	&__btn {
		margin-top: rem(21);
		width: 100%;
		max-width: rem(271);

		@media(max-width:rem(850.99)) {
			margin-left: auto;
			margin-right: auto;
			margin-top: rem(30);
		}
	}

	&__coll {
		width: 100%;
		max-width: rem(535);

		@media(max-width:rem(850.99)) {
			max-width: 100%;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: auto 1fr;

		@media(max-width:rem(850.99)) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__img {
		position: relative;
		isolation: isolate;
		display: block;
		z-index: -1;

		img,
		svg {
			position: absolute;
			width: rem(1240);
			left: rem(-130);
			top: 50%;
			transform: translateY(-44%);
			z-index: -1;

			@include mw992 {
				width: rem(970);
			}

			@media(max-width:rem(850.99)) {
				top: 0;
				transform: translateY(-79%);
				left: rem(-26);
				width: rem(895);
			}
		}
	}
}
